body{
    background-color:#f6f5f4 ;

}
h1{
    background-color: #EFE9E3;
    text-align: center;
}
iframe{
    width: 100%;
    height: 100vh;
}
header{
    background-color: #D9CFC7;
    border: 2px black solid;
    border: radius 20px; 
    padding: 5px;
    
}
header a{
    margin-left: 10px;
}
img{
    width: 300px;
    height: 300px;
}
table{
    background-color: aliceblue;
    border-radius: 7px;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 3%;
    th{
        padding-left: 7px;
    }
    td{
        padding-right: 10px;
    }
}